@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    padding: 0;
    margin: 0;
    font-family: Roboto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.header-section,.footerwrapper{
    background-color: #1F2937;
}

.footer-section{
    display: flex;
    height: 100px;
    width: 70vw;
    margin: auto;
    padding: 0 16px;
    justify-content: center;
    align-items: center
}

header{
    display: flex;
    margin: auto;
    height: 100px;
    width: 70vw ;
    padding: 0 16px;
    justify-content: space-between;
    align-items: center;
}

header ul, header ul a{
    flex: 1;
    display: flex;
    padding: 0;
    margin: 0;
    gap: 16px;
    list-style-type: none;
    text-decoration: none;
}

.logo {
    flex: 1;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.hero-section{
    flex:1;
    background-color: #1F2937;
    justify-content: center;
}

.herowrapper{
    display: flex;
    flex-direction: row wrap;
    margin: auto;
    height: 450px;
    width: 70vw;
    padding: 0 16px;
    align-items: center;
    gap: 5rem;
}

.hero-img{
    width: 500px;
    height: auto;
    border-radius: 5px;
}

.hero-title{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-subtext,
.topmenu li a,.footer-section{
    font-size: 18px;
    color: #E5E7EB;;
}

.random-section{
    flex: 1;
}

.randomwrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 400px;
    width: 70vw;
    gap: 2rem;
    padding: 5rem;
}

.infoheader{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;

}
.infoblocks{
    display: flex;
    gap: 5rem;
}

.infoblock, .infoblock p{
    flex: 1;
    width: 150px;
    height: auto;
    text-align: center;
    flex-wrap: wrap;
}

.infoimage{
    width: 150px;
    height: 150px;
    border-radius: 25px;
    border: 2px solid #3882F6;
}

.signup-button{
    border-radius: 10px;
    border: none;
    padding: 10px 50px;
    background-color: #3882F6;
    color: white;
    font-size: 18px;
}

.quote-section{
    flex: 1;
    display: flex;
    justify-content: center;
    background-color: #E5E7EB;
}

.quotewrapper{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.quotemessage p{ 
    width: 55vw;
    color: #1F2937;
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
}

.quotemessage .saidby p{
    font-size: 1.3rem;
    font-style:normal;
    font-weight: bold;
    text-align: right;
}

.ctawrapper{
    flex: 1;
    display: flex;
    height: 50vh;
    align-items: center;
    justify-content: center;
}

.ctabox{
    display: flex;
    background-color: #3882F6;
    align-items: center;
    justify-content: space-between;
    height: 150px;
    padding-left: 5rem;
    padding-right: 5rem;
    gap: 5rem;
    flex: 0.6;
    border-radius: 25px;
}
.cta-button{
    background-color: #3882F6;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 10px 60px;
}

.ctaleft h2,.ctaleft{
    color: white;
    padding: 0;
    margin: 0;
}

.ctaleft .ctasubtext{
    color: #E5E7EB;
    padding: 0;
    margin: 1px;
}
